body {
	background-color: #ccc;
}

.current-reddits {
	padding: 40px 0;
}

.subreddit-listing {
	height: 400px;
	overflow: auto;
}

.subreddit-listing-list {
	list-style-type: none;
	padding: 0;
}

.subreddit-listing-item {
	margin-bottom: 5px;
}

input, button, select, option {
	margin: 5px 0 !important;
	text-align: center !important;
}

input {
	box-shadow: none !important;
}

.mt-40 {
	margin-top: 40px !important;
}